@model List<ElectronicStore.Web.Models.CartItemViewModel>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Giỏ hàng</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="mail">
    <hr />
    <div class="container">
        @if (Model.Count > 0)
        {
            <div class="col-md-10 col-md-offset-1" >
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã Sản Phẩm</td>
                            <td>Tên Sản Phẩm</td>
                            <td>Ảnh Sản Phẩm</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                            <td>Xóa</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ decimal @totalAmount = 0; }
                        @foreach (var item in Model)
                        {
                            totalAmount += (item.Product.Price * item.Quantity);
                            <tr>
                                <td>@item.Product.Id</td>
                                <td>@item.Product.Name</td>
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="number" class="txtQuantity" data-id="@item.Product.Id" value="@item.Quantity" /></td>
                                <td>@item.Product.Price.ToString("N0")</td>
                                <td>@((item.Product.Price * item.Quantity).ToString("N0"))</td>
                                <td><button data-id="@item.Product.Id" class="btn-delete btn btn-danger"><i class="fa fa-minus"></i></button></td>
                            </tr>
                        }

                        <tr>
                            <td colspan="5" style="text-align: right;">Tổng tiền:</td>
                            <td>@totalAmount.ToString("N0")</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <button id="btnContinue" class="btn btn-success">Tiếp tục mua hàng</button>
                <button id="btnUpdate" class="btn btn-primary">Cập nhật giỏ hàng</button>
                <button id="btnDeleteAll" class="btn btn-danger">Xoá giỏ hàng</button>
                <button id="btnPayment" class="btn btn-info">Đặt hàng</button>
            </div>
        }
        else
        {
            <div class="alert alert-success text-center">
                <p>Chưa có sản phẩm nào trong giỏ hàng. <a href="/" title="Mua hàng">Mua hàng</a></p> 
            </div>
        }
    </div>
</div>

