@model List<ElectronicStore.Web.Models.CartItemViewModel>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Đặt hàng</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="mail">
    <hr />
    <div class="container">
        @if (Model.Count > 0)
        {
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã Sản Phẩm</td>
                            <td>Tên Sản Phẩm</td>
                            <td>Ảnh Sản Phẩm</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                            <td>Xóa</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.Id</td>
                                <td>@item.Product.Name</td>
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="number" class="txtQuantity" data-id="@item.Product.Id" value="@item.Quantity" /></td>
                                <td>@item.Product.Price.ToString("N0")</td>
                                <td>@((item.Product.Price * item.Quantity).ToString("N0"))</td>
                                <td><button data-id="@item.Product.Id" class="btn-delete btn btn-danger"><i class="fa fa-minus"></i></button></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <hr />
            </div>
        }
    </div>
</div>

