@model ElectronicStore.Web.Models.OrderViewModel
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cart = (List<ElectronicStore.Web.Models.CartItemViewModel>)Model.Cart;
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Đặt hàng</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="mail">
    <hr />
    <div class="container">
        @if (Cart.Count > 0)
        {
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã Sản Phẩm</td>
                            <td>Tên Sản Phẩm</td>
                            <td>Ảnh Sản Phẩm</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ decimal @totalAmount = 0; }
                        @foreach (var item in Cart)
                        {
                            totalAmount += (item.Product.Price * item.Quantity);

                            <tr>
                                <td>@item.Product.Id</td>
                                <td>@item.Product.Name</td>
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="number" readonly class="txtQuantity" data-id="@item.Product.Id" value="@item.Quantity" /></td>
                                <td>@item.Product.Price.ToString("N0")</td>
                                <td>@((item.Product.Price * item.Quantity).ToString("N0"))</td>
                            </tr>
                        }

                        <tr>
                            <td colspan="5" style="text-align: right;">Tổng tiền:</td>
                            <td>@totalAmount.ToString("N0")</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
            </div>
            <hr />
            <div class="sign-form">
                <div class="col-md-6 col-md-offset-3">
                    <h4>Thông tin đặt hàng</h4>
                    <br />
                    @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "error" })

                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Họ & tên" })

                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Địa chỉ" })

                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Số điện thoại" })

                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Địa chỉ email" })

                        <input type="submit" value="Gửi">
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        }
        else
        {

        }

    </div>
</div>

