@model ElectronicStore.Web.Models.SignUpViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>Đăng ký</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- mail -->
<div class="mail">
    <div class="container">
        <h3>Đăng ký</h3>
        <div class="sign-form">
            <div class="col-md-6 col-md-offset-3">
                <h4>Thông tin tài khoản</h4>
                <br />
                @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
                {
                    if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                             Bạn đã đăng ký thành công.
                            <br />Vui lòng click <a href="/sign-in">vào đây </a>để đăng nhập.
                        </div>
                    }

                    @Html.AntiForgeryToken();

                    @Html.ValidationSummary(false, "", new { @class = "error" });

                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-name", placeholder = "Họ" });

                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control input-name", placeholder = "Tên đệm" });

                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-lastname", placeholder = "Tên" });

                    <div class="clearfix"></div>

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Địa chỉ email" });

                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Điện thoại" });

                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Địa chỉ" });

                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Tên người dùng" });

                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Mật khẩu" });

                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Xác thực mật khẩu" });

                    <br />
                    MvcCaptcha signupCaptcha = new MvcCaptcha("signupCaptcha");
                    @Html.Captcha(signupCaptcha)
                    <div class="clearfix"> </div>
                        <br /> <br />
                        @Html.TextBox("CaptchaCode");

                    <input type="submit" value="Đăng ký">
                }
               
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //mail -->