@model ElectronicStore.Web.Core.Pagination<ElectronicStore.Web.Models.ProductViewModel>
@{
    var category = (ElectronicStore.Web.Models.ProductCategoryViewModel)ViewBag.Category;
    var pageIndex = Model.CurrentPage;
    var startPageIndex = Math.Max(1, Model.CurrentPage - Model.MaxPage / 2);
    var endPageIndex = Math.Min(Model.TotalPages, Model.CurrentPage + Model.MaxPage / 2);
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>@category.Name</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- mobiles -->
<div class="mobiles">
    <div class="container">
        <div class="w3ls_mobiles_grids">
            <div class="col-md-4 w3ls_mobiles_grid_left">
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Categories</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title asd">
                                        <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>New Arrivals
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body panel_text">
                                        <ul>
                                            <li><a href="products.html">Mobiles</a></li>
                                            <li><a href="products1.html">Laptop</a></li>
                                            <li><a href="products2.html">Tv</a></li>
                                            <li><a href="products.html">Wearables</a></li>
                                            <li><a href="products2.html">Refrigerator</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title asd">
                                        <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Accessories
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body panel_text">
                                        <ul>
                                            <li><a href="products2.html">Grinder</a></li>
                                            <li><a href="products2.html">Heater</a></li>
                                            <li><a href="products2.html">Kid's Toys</a></li>
                                            <li><a href="products2.html">Filters</a></li>
                                            <li><a href="products2.html">AC</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="panel_bottom">
                            <li><a href="products.html">Summer Store</a></li>
                            <li><a href="products.html">Featured Brands</a></li>
                            <li><a href="products.html">Today's Deals</a></li>
                            <li><a href="products.html">Latest Watches</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Price</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <div class="ecommerce_color ecommerce_size">
                            <ul>
                                <li><a href="#">Below $ 100</a></li>
                                <li><a href="#">$ 100-500</a></li>
                                <li><a href="#">$ 1k-10k</a></li>
                                <li><a href="#">$ 10k-20k</a></li>
                                <li><a href="#">$ Above 20k</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 w3ls_mobiles_grid_right">
                <div class="col-md-6 w3ls_mobiles_grid_right_left">
                    <div class="w3ls_mobiles_grid_right_grid1">
                        <img src="/Assets/Client/images/46.jpg" alt="" class="img-responsive" />
                        <div class="w3ls_mobiles_grid_right_grid1_pos1">
                            <h3>Smart Phones<span>Up To</span> 15% Discount</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_mobiles_grid_right_left">
                    <div class="w3ls_mobiles_grid_right_grid1">
                        <img src="/Assets/Client/images/47.jpg" alt=" " class="img-responsive" />
                        <div class="w3ls_mobiles_grid_right_grid1_pos">
                            <h3>Top 10 Latest<span>Mobile </span>& Accessories</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>

                <div class="w3ls_mobiles_grid_right_grid2">
                    <div class="w3ls_mobiles_grid_right_grid2_left">
                        <h3>@Model.TotalResults sản phẩm</h3>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid2_right">
                        @*<select name="select_item" class="select_item">
                                <option selected="selected">Default sorting</option>
                                <option>Sort by popularity</option>
                                <option>Sort by newness</option>
                                <option>Sort by price: low to high</option>
                                <option>Sort by price: high to low</option>
                                <option>Sort by average rating</option>
                            </select>*@
                        <ul class="sort_nav">
                            <li>Sắp xếp theo : </li>
                            <li><a class="active" href="?page=@Model.CurrentPage&sort=popular">Phổ biến nhất </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=new">Mới nhất </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=price_asc">Giá: thấp > cao </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=price_desc">Giá: thấp < cao </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                @if (Model.TotalResults > 0)
                {
                    <div class="w3ls_mobiles_grid_right_grid3">
                        @foreach (var product in Model.Results)
                        {
                            var url = "/" + product.Alias + ".p-" + product.Id;
                            <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles list_grid">
                                <div class="agile_ecommerce_tab_left mobiles_grid">
                                    <div class="">
                                        <a href="@url"><img src="@product.Image" alt="@product.Image" class="img-responsive" /></a>
                                    </div>
                                    <h5><a href="@url">@product.Name</a></h5>
                                    <div class="simpleCart_shelfItem">
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <p><span>$@product.PromotionPrice</span> <i class="item_price">$@product.Price</i></p>
                                        }
                                        else
                                        {
                                            <p><i class="item_price">$@product.Price</i></p>
                                        }

                                        <button type="button" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                                    </div>
                                    @*<div class="mobiles_grid_pos">
                                            <h6>New</h6>
                                        </div>*@
                                </div>
                            </div>
                        }
                        <div class="clearfix"> </div>
                        @if (Model.TotalPages > 1)
                        {
                            // Create numeric links
                            <nav>
                                <ul class="pagination">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <li>
                                            <a href="?page=1" aria-label="First">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@(Model.CurrentPage-1)" aria-label="Previous">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (Model.CurrentPage == i)
                                        {
                                            <li class="active"><a href="?page=@i" title="Page @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="?page=@i" title="Page @i">@i</a></li>
                                        }
                                    }
                                    @if (Model.CurrentPage < Model.TotalPages)
                                    {
                                        <li>
                                            <a href="?page=@(Model.CurrentPage+1)" aria-label="Next">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@Model.TotalPages" aria-label="Last">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                }
                else
                {
                    <div class="text-center">Không có sản phẩm nào được tìm thấy.</div>
                }

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>