@model ElectronicStore.Web.Models.ProductViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
@*<div class="banner banner10">
    <div class="container">
        <h2>Single Page</h2>
    </div>
</div>*@
<!-- //banner -->   

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>@Model.Name</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-4 single-left">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="@Model.Image">
                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt="@Model.Image"> </div>
                    </li>
                    @{
                        var moreImages = (List<string>)ViewBag.MoreImages;
                        if (moreImages.Count > 0)
                        {
                            foreach (var image in moreImages)
                            {
                                <li data-thumb="@image">
                                    <div class="thumb-image"> <img src="@image" data-imagezoom="true" class="img-responsive" alt="@image"> </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <!-- flexslider -->
            <script src="~/Assets/Client/js/jquery.flexslider.js"></script>
            <link href="~/Assets/Client/css/flexslider.css" rel="stylesheet" />
            <script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
            </script>
            <!-- flexslider -->
            <!-- zooming-effect -->
            <script src="~/Assets/Client/js/imagezoom.js"></script>
            <!-- //zooming-effect -->
        </div>
        <div class="col-md-8 single-right">
            <h3>@Model.Name</h3>
           
            <div class="description">
                <h5><i>Thông tin sản phẩm</i></h5>
                @Html.Raw(@Model.Description)
            </div>
            <div class="color-quality">
               
                <div class="color-quality-left">
                    <h5>Số lượng : @Model.Quantity</h5>
                   

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="simpleCart_shelfItem">
                @if (Model.PromotionPrice.HasValue)
                {
                    <p><span>@(Model.Price.ToString("N0") + " đ")</span> <i class="item_price">@(Model.PromotionPrice.Value.ToString("N0") + " đ")</i></p>
                }
                else
                {
                    <p><i class="item_price">@(Model.Price.ToString("N0") + " đ")</i></p>
                }

                <form action="/add-to-cart?productId=@Model.Id" method="post">
                    <button type="submit" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                </form>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- Related Products -->
<div class="w3l_related_products">
    <div class="container">
        <h3>Sản phẩm liên quan</h3>
        <ul id="flexiselDemo2">
           @{
               var relatedProducts = (IEnumerable<ElectronicStore.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
               foreach (var product in relatedProducts)
               {
                 var url = "/" + product.Alias + ".p-" + product.Id;
                <li>
                    <div class="w3l_related_products_grid">
                        <div class="agile_ecommerce_tab_left mobiles_grid">
                            <div class="">
                                <a href="@url"><img src="@product.Image" alt="" class="img-responsive" /></a>
                            </div>
                            <h5><a href="@url">@product.Name</a></h5>
                            <div class="simpleCart_shelfItem">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <p><span>@(product.Price.ToString("N0") + " đ")</span> <i class="item_price">@(product.Price.ToString("N0") + " đ")</i></p>
                                }
                                else
                                {
                                    <p><i class="item_price">@(product.Price.ToString("N0") + " đ")</i></p>
                                }
                                <form action="/add-to-cart?productId=@product.Id" method="post">
                                    <button type="submit" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
               }
        }
        </ul>

        <script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo2").flexisel({
							visibleItems:4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:480,
									visibleItems: 1
								},
								landscape: {
									changePoint:640,
									visibleItems:2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
        </script>
        <script src="~/Assets/Client/js/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //Related Products -->

