@model ElectronicStore.Web.Core.Pagination<ElectronicStore.Web.Models.ProductViewModel>
@{
    var brand = (ElectronicStore.Web.Models.BrandViewModel)ViewBag.Brand;
    var listCategory = (IEnumerable<ElectronicStore.Web.Models.ProductCategoryViewModel>)ViewBag.ListCategory;
    var listBrand = (IEnumerable<ElectronicStore.Web.Models.BrandViewModel>)ViewBag.ListBrand;
    var pageIndex = Model.CurrentPage;
    var startPageIndex = Math.Max(1, Model.CurrentPage - Model.MaxPage / 2);
    var endPageIndex = Math.Min(Model.TotalPages, Model.CurrentPage + Model.MaxPage / 2);
    ViewBag.Title = "ListByBrand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a> <i>/</i></li>
            <li>@brand.Name</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- mobiles -->
<div class="mobiles">
    <div class="container">
        <div class="w3ls_mobiles_grids">
            <div class="col-md-4 w3ls_mobiles_grid_left">
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Danh mục</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <ul class="panel_bottom">
                            @foreach (var ct in listCategory)
                            {
                                var url = "/" + ct.Alias + ".pc-" + ct.Id;
                                <li><a href="@url">@ct.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Nhà sản xuất</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <ul class="panel_bottom">
                            @foreach (var br in listBrand)
                            {
                                var url = "/" + br.Alias + ".b-" + br.Id;
                                <li><a href="@url">@br.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 w3ls_mobiles_grid_right">
                <div class="clearfix"> </div>

                <div class="w3ls_mobiles_grid_right_grid2">
                    <div class="w3ls_mobiles_grid_right_grid2_left">
                        <h3>@Model.TotalResults sản phẩm</h3>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid2_right">
                        <ul class="sort_nav">
                            <li>Sắp xếp theo : </li>
                            <li><a class="active" href="?page=@Model.CurrentPage&sort=view_count">Xem nhiều nhất </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=new">Mới nhất </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=price_asc">Giá: thấp > cao </a></li> |
                            <li><a href="?page=@Model.CurrentPage&sort=price_desc">Giá: thấp < cao </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                @if (Model.TotalResults > 0)
                {
                    <div class="w3ls_mobiles_grid_right_grid3">
                        @foreach (var product in Model.Results)
                        {
                            var url = "/" + product.Alias + ".p-" + product.Id;
                            <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles list_grid">
                                <div class="agile_ecommerce_tab_left mobiles_grid">
                                    <div class="">
                                        <a href="@url"><img src="@product.Image" alt="@product.Image" class="img-responsive" /></a>
                                    </div>
                                    <h5><a href="@url">@product.Name</a></h5>
                                    <div class="simpleCart_shelfItem">
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <p><span>@(product.Price.ToString("N0") + " đ")</span> <i class="item_price" style="font-size: 15px;">@(product.PromotionPrice.Value.ToString("N0") + " đ")</i></p>
                                        }
                                        else
                                        {
                                            <p><i class="item_price" style="font-size: 15px;">@(product.Price.ToString("N0") + " đ")</i></p>
                                        }

                                        <form action="/add-to-cart?productId=@product.Id" method="post">
                                            <button type="submit" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                                        </form>
                                    </div>
                                    @*<div class="mobiles_grid_pos">
                                            <h6>New</h6>
                                        </div>*@
                                </div>
                            </div>
                        }
                        <div class="clearfix"> </div>
                        @if (Model.TotalPages > 1)
                        {
                            // Create numeric links
                            <nav>
                                <ul class="pagination">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <li>
                                            <a href="?page=1" aria-label="First">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@(Model.CurrentPage-1)" aria-label="Previous">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (Model.CurrentPage == i)
                                        {
                                            <li class="active"><a href="?page=@i" title="Page @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="?page=@i" title="Page @i">@i</a></li>
                                        }
                                    }
                                    @if (Model.CurrentPage < Model.TotalPages)
                                    {
                                        <li>
                                            <a href="?page=@(Model.CurrentPage+1)" aria-label="Next">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@Model.TotalPages" aria-label="Last">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                }
                else
                {
                    <div class="text-center">Không có sản phẩm nào được tìm thấy.</div>
                }

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

