@model ElectronicStore.Web.Models.NewsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>@Model.Title</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- faq -->
<div class="faq">
    <div class="container">
        <div class="w3l_faq_grids">
            <div class="w3l_faq_grid">
                <h3>@Model.Title</h3>
                <h4 class="text-right">Lượt xem: @Model.ViewCount </h4>
                <br /><br />
                <p>
                    @Model.Description
                </p>
                <br /><br />
                <img src="@Model.Image" alt="">
            </div>
        </div>

    </div>
</div>
