@model ElectronicStore.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- banner -->
<div class="banner banner2">
        <div class="container">
            <h2>Electronic Store, <span>Special Offers</span></h2>
        </div>
    </div>
<!-- //banner -->


<!-- new-products -->
<div class="new-products">
    <div class="container">
        <h3>Sản phẩm mới</h3>
        <div class="agileinfo_new_products_grids">
            <div class="agileinfo_new_products_grids">
                @foreach (var product in Model.NewArrivalProducts)
                {
                    var url = "/" + product.Alias + ".p-" + product.Id;
                    <div class="col-md-3 agileinfo_new_products_grid">
                        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                            <div class="">
                                <a href="@url"><img src="@product.Image" alt="@product.Image" class="img-responsive" /></a>
                            </div>
                            <h5><a href="@url">@product.Name</a></h5>
                            <div class="simpleCart_shelfItem">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <p><span>@(product.Price.ToString("N0") + " đ")</span> <i class="item_price">@(product.PromotionPrice.Value.ToString("N0") + " đ")</i></p>
                                }
                                else
                                {
                                    <p><i class="item_price">@(product.Price.ToString("N0") + " đ")</i></p>
                                }

                                <form action="/add-to-cart?productId=@product.Id" method="post">
                                    <button type="submit" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                                </form>
           
                            </div>
                        </div>
                    </div>
                  }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //new-products -->
<!-- hot-products -->
<div class="new-products">
    <div class="container">
        <h3>Sản phẩm khuyến mãi</h3>
        <div class="agileinfo_new_products_grids">
            <div class="agileinfo_new_products_grids">
                @foreach (var product in Model.HotProducts)
                {
                    var url = "/" + product.Alias + ".p-" + product.Id;
                    <div class="col-md-3 agileinfo_new_products_grid">
                        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                            <div class="">
                                <a href="@url"><img src="@product.Image" alt="@product.Image" class="img-responsive" /></a>
                            </div>
                            <h5><a href="@url">@product.Name</a></h5>
                            <div class="simpleCart_shelfItem">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <p><span>@(product.Price.ToString("N0") + " đ")</span> <i class="item_price">@(product.PromotionPrice.Value.ToString("N0") + " đ")</i></p>
                                }
                                else
                                {
                                    <p><i class="item_price">@(product.Price.ToString("N0") + " đ")</i></p>
                                }

                                <form action="/add-to-cart?productId=@product.Id" method="post">
                                    <button type="submit" class="w3ls-cart btnAddToCart">Thêm vào giỏ hàng</button>
                                </form>

                            </div>
                        </div>
                    </div>
                 }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //hot-products -->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Hãng sản xuất</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                @foreach (var brand in Model.Brands)
                {
                    var url = "/" + brand.Alias + ".b-" + brand.Id;
                    <li>                      
                        <a href="@url"><img src="@brand.Logo" alt="@brand.Logo" class="img-responsive" /></a>
                    </li>
                }
            </ul>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script src="~/Assets/Client/js/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //top-brands -->
